a,
a:hover,
a:active,
a:visited {
    color: #fffff4;
}

/**
 * Custom default button & form
 */
.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
select.form-control,
select.form-control:focus {
    color: #fff;
    background-color: #000;
    border: 2px solid #ff6;
}

select {
    -webkit-appearance: none;
}

/* Ensure select option text color is black when selecting */
select.form-control:active {
    color: #000;
}

/**
 * Base structure
 */
html,
body {
    height: 100%;
}
body,
section.jumbotron {
    color: #fff;
    background-color: transparent;
}

/**
 * From album.css
 */
.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    color: #ff6 !important;
    margin-top: 4px;
}

.navbar-collapse .container-fluid {
    padding: 2rem 2.5rem;
    border-bottom: 1px solid #95abbe;
}

.navbar-collapse h4 {
    color: #4bd5ee;
}

.navbar-collapse .text-muted {
    color: #fffff4;
}

.about {
    float: left;
    max-width: 30rem;
    margin-right: 3rem;
}

.social a {
    font-weight: 500;
    color: #eceeef;
}
.social a:hover {
    color: #fff;
}

.jumbotron {
    padding-top: 4rem;
    padding-bottom: 0;
    margin-bottom: 0;
    background-color: #fff;
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
    margin-bottom: 1em;
}

.jumbotron .container {
    max-width: 40rem;
}

.skip-redo {
    position: absolute;
    z-index: 1001;
    top: 0;
    right: 0;
    padding: 1em;
}




@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700);
html,
body {
    width: 100%;
    height: 100%;
    font: 700 1em "News Cycle", sans-serif;
    letter-spacing: .15em;
    color: #ff6;
    background: url('../img/starfield.jpg') #000;
    background-size: cover;
    overflow: hidden;
    margin: 0;
}

.starwars section {
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 1;
}
.starwars .start {
    font-size: 200%;
    width: 14em;
    margin: -4em 0 0 -7em;
    text-align: center;
    cursor: pointer;
}
.starwars .start span {
    color: #4bd5ee;
}
.starwars .intro {
    width: 15em;
    margin: 0 0 0 -7.5em;
    font-size: 200%;
    font-weight: 400;
    color: #4bd5ee;
    opacity: 0;
    -webkit-animation: intro 6s ease-out 1s;
    animation: intro 6s ease-out 1s;
}
.starwars .titles {
    width: 14.95em;
    margin: 0 0 0 -7.325em;
    top: auto;
    bottom: 0;
    height: 50em;
    font-size: 350%;
    text-align: justify;
    overflow: hidden;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: perspective(300px) rotateX(25deg);
    transform: perspective(300px) rotateX(25deg);
}
.starwars .titles > div {
    position: absolute;
    top: 100%;
    -webkit-animation: titles 35s linear 5s;
    animation: titles 35s linear 5s;
}
.starwars .titles > div > p {
    margin: 1.35em 0 1.85em 0;
    line-height: 1.35em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

@-webkit-keyframes intro {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes intro {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes titles {
    0% {
        top: 100%;
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        top: 20%;
        opacity: 0;
    }
}
@keyframes titles {
    0% {
        top: 100%;
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        top: 20%;
        opacity: 0;
    }
}
